ACCOUNT_SID: AC91092a4d46d6631c714a1b5a8e971fc0
AUTH_TOKEN: 84b4f6b4c76b9ad23a59579e411b29d0
MY_TWILIO_NUMBER: +33987654321
MY_PERSONAL_NUMBER: +33123456789

SEND_SMS: False
SMS_BODY: "Today was/were born:"
BIRTHDAYS_FILE: birthdays.json
DATE_FILE: currentDate.txt